/* LAYOUT CSS */
#layout {
    
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
   
    background: rgb(24, 33, 61);
    color: #fff;
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

.content {
  
    padding: 0.5em 0.5em 0.5em;
    padding-left: 300px;
}

.holiday {
  width: 400px;   
    border-color: #33cc99;
    border-width: 2px;  
    border-style: solid;
    
}

.holiday:hover{
  background-color: #eeeeee;
}